<nav>
    <a href="/">HOME</a>
    <a href="/logout">LOG OUT</a>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" alt="google"></a>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</nav>