<% if (user) { %>
    <nav>
        <div id="header-links">
                <a class="link" href="/home">HOME</a></td>
                <div id="user-cont">
                    <img src="<%=user.avatar%>" alt="avatar"> <span id="user-name"><%= user.name%></span>
                </div>
                <a class="link" href="/pets/new">Add Pets</a>
                <a class="link" href="/users/<%=user.id%>">Profile</a>
                <a class="link" href="/logout">LOGOUT</a>
        </div>
            <% } %>
    </nav>
<link rel='stylesheet' href='/stylesheets/style.css' />