<nav>
    <a href="/home">HOME</a>
    <% if (user) { %>
        <p><%= user.name%></p>
        <img src="<%=user.avatar%>" alt="avatar">
        <a href="/pets/new">Add Pets</a>
        <a href="/logout">LOG OUT</a>
        <a href="/users/<%=user.id%>">Profile</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png" alt="google"></a>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</nav>