<%- include('../partials/header') %>
<body>
    <h1 class="new-pet-title">Tell Us About Your Pet! </h1>
    <h2 class="new-pet-title"> <img src="/images/giphy-1.webp" alt="patient-cat"> </h2>
    <form action="/pets/<%=user.id%>" method="POST">
        <input type="hidden" name="owner" value="<%=user.id%>">
        <div class="mb-3 mt-3">
            <label>Name:</label><br>
            <input class="form-control" type="text" name="name">
        </div>
        <div class="mb-3 mt-3">
            <label>Animal:</label><br>
            <input class="form-control" type="text" name="animal">
        </div>
        <div class="mb-3 mt-3">
            <label>Breed:</label><br>
            <input class="form-control" type="text" name="breed">
        </div>
        <div class="mb-3 mt-3">
            <label>Gender:</label><br>
            <select class="form-select" name="gender">
                <option value="null">Select...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3 mt-3">
            <label>Age:</label><br>
            <input class="form-control" type="number" name="age">
        </div>
        <div class="mb-3 mt-3">
            <label>Birthday:</label><br>
            <input class="form-control" type="date" name="birthday">
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
</body>