<%- include('../partials/header') %>
<body>
    <h1>Tell Us About Your Pet!</h1>
    <form action="/pets/<%=user.id%>" method="POST">
        <input type="hidden" name="owner" value="<%=user.id%>">
        <div>
            <label>Name:</label><br>
            <input type="text" name="name">
        </div>
        <div>
            <label>Animal:</label><br>
            <input type="text" name="animal">
        </div>
        <div>
            <label>Breed:</label><br>
            <input type="text" name="breed">
        </div>
        <div>
            <label>Gender:</label><br>
            <select name="gender">
                <option value="null">Select...</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div>
            <label>Age:</label><br>
            <input type="number" name="age">
        </div>
        <div>
            <label>Birthday:</label><br>
            <input type="date" name="birthday">
        </div>
        <input type="submit">
        <img src="/images/giphy-1.webp" alt="patient-cat">
    </form>
    
</body>