body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img[alt="google"]{
  width: 25px;
  position: relative;
  top:7px;
}

img[alt="avatar"]{
  width: 40px;
  border-radius: 50px;
}

table{
  border: solid black 1px;
}

#index-body{
  background-color: palevioletred;
}
#welcome-container{
  text-align: center;
  border: solid white 5px;
  position: relative;
  top: 250px;
  background-color: #FFA6C9;
  padding-bottom: 25px;
  display: block;
  margin: 0 auto;
  width: 700px;
}

#login{
  position: relative;
  top: 7px;
  padding: 5px;
  border: solid white 3px;
  background-color: hotpink;
  color: white;
  text-decoration: none;
}

img[alt="pets-home"]{
  display: block;
  margin: 0 auto;
}

img[alt="pets"]{
  display: block;
  margin: 0 auto;
  position: relative;
  top: 245px;
  /* border: solid black 1px; */
}

#header-links{
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 35px;
  
}

#user-name{
  border: solid black 1px;
  position: relative;
  bottom: 19px;
  font-weight: 600;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}