body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img[alt="google"]{
  width: 25px;
  position: relative;
  top:7px;
}

img[alt="avatar"]{
  position: relative;
  top: 10px;
  width: 40px;
  border-radius: 50px;
}
